[*]
charset=utf-8
end_of_line=crlf
insert_final_newline=false
indent_style=space
indent_size=4

[{.babelrc,.stylelintrc,.eslintrc,jest.config,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_style=space
indent_size=2

[{core_draft,*.pyw,*.py}]
indent_style=tab
tab_width=4

[*.pyi]
indent_style=tab
tab_width=4

[{*.pyx,*.pxi,*.pxd}]
indent_style=tab
tab_width=4

[*.csv]
indent_style=tab
tab_width=1

[{*.tab,*.tsv}]
indent_style=tab
tab_width=1

[*.less]
indent_style=space
indent_size=2

[*.scss]
indent_style=space
indent_size=2

[*.js.map]
indent_style=space
indent_size=2

[{*.coffee,*.cjsx}]
indent_style=space
indent_size=2

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

